*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: arial;
}
header,footer{
	text-align: center;
	background: #222;
	clear: both;
}
.logo{
	color: #fff;
	padding: 25px;
}
#side-l{
	float: left;
	width: 25%;
	background: #555;
	min-height: 500px;
}
#content{
	width: 75%;
	float: left;
	padding: 10px;
}
div#dangky label, div#dangnhap label{
	color: red;
	display: inline-block;
	width: 120px;
}
div#dangky input, div#dangnhap input{
	padding: 10px;
}
.thongbao{
	color: red;
	font-weight: bold;
}